<!--<app-menu-global></app-menu-global>-->
<div *ngIf="!noticias">
  <h2>No existe ninguna noticia</h2>
</div>

<mat-card class="example-card">
  <div *ngFor="let noticia of noticias; let i = index">
    <div *ngIf="i<10" class="example-card">
      <div class="row">
        <mat-card-header>
          <mat-card-title><h1>{{noticia.title}}</h1></mat-card-title>
        <mat-card-subtitle>Fuente: IGN</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div>
            <img mat-card-image src="{{noticia.urlToImage}}">
          </div>
          <p>{{noticia.description}}</p>
        </mat-card-content>
      </div>
      <!--<mat-icon class="example-icon" (click)="guardar(noticia.title,noticia.description,noticia.urlToImage)">favorite </mat-icon>-->
      <button mat-icon-button class="button gray" (click)="guardar(noticia.title,noticia.description,noticia.urlToImage)"> <mat-icon class="example-icon">favorite_border</mat-icon></button>
    </div>
    <hr>
  </div>
</mat-card>
